# Visual Studio 暫存檔案和使用者設定
*.suo
*.user
*.userosscache
*.cache
.vs/

# 編譯輸出和中間檔案
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
PushPin/PushPin/obj/Debug/net8.0/PushPin.AssemblyInfo.cs
PushPin/PushPin/obj/Debug/net8.0/PushPin.AssemblyInfoInputs.cache
PushPin/.vs/PushPin/v17/.suo
